@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu');
.Apper {
}

.Apper__Aside {
 

}

.Apper__Form {
}

.PageSwitcher {
}
.Apper_heading{
}
.Apper_logo img{
  
}

.Apper__Aside__text {
  
}
.Apper_quote{
}
.Apper__Aside_image{
}

.PageSwitcher__Item {
}

.PageSwitcher__Item--Active {
}

.PageSwitcher__Item:first-child {
}
.PageSwitcher__Item:last-child {
}

.FormCenter {
}

.FormTitle {
}

.FormTitle__Link {
}

.FormTitle__Link:first-child {
}

.FormTitle__Link--Active {
}

.FormField {
}

.FormField__Label {
  
}
.FormField__Input {
}

.FormField__Input::placeholder {
}

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
}

.FormField__CheckboxLabel {
}

.FormField__Checkbox {
}

.FormField__TermsLink {
}

